body{
  font-family:"Microsoft JhengHei", sans-serif;
  text-align:center;
  background-color: #add8e6;
  color: #333;
  margin-top:100px;
}

botton{
  padding: 10px 20px;
  font-size:16px;
  cursor:pointer;
}
